<nav >
    <ul>
      <li class="left"><span >
        <img src="../../assets/images/m-logo.png" height="43"  alt="">
      </span></li>
      <li class="left">
        <span  class="aNavbar" id="0" routerLink="/home"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"            
            >
            home
      </span>
      </li>
      <li class="left" >
        <span class="aNavbar " [routerLink]="['product']" routerLinkActive="active">products</span>
      </li>         
      <li class="left">
        <span class="aNavbar " [routerLink]="['sign-up']" routerLinkActive="active">sign-up</span>
      </li>         
      <li class="left" *ngIf="isLogged">
        <span class="aNavbar " [routerLink]="['dashboard']" routerLinkActive="active">dashboard</span>
      </li>         
      
      <li class="right" *ngIf="isLogged" >
          <span  (click)="onLogout()" routerLink="/home">
            logout
            <mat-icon class="mat-icon">logout</mat-icon>      
        </span>
      </li>
      <li class="right" *ngIf="!isLogged">
            <span routerLink="/login" class="login" >
              login
              <mat-icon class="mat-icon">login</mat-icon>  
            </span>
      </li>
      <li class="right" *ngIf="isLogged" >
        <span [routerLink]="['bascket']">
              <mat-icon matBadge="{{basket.length}}" matBadgeColor="accent">shopping_cart</mat-icon>
        </span>              
      </li>
 
    </ul>
  </nav>