<div class="container main">
    <form [formGroup]="signUpForm"  class="form">  
        <!-- #docregion states -->
        <mat-stepper  #stepper labelPosition="bottom">                         
                <!-- #startStep 1 personal info -->                
                <mat-step label="personal info" #stepper color="accent">
                    <div class="row justify-content-md-center" formGroupName="userInfo">
                        <div class="col-xs-12 col-md-6 ">

                            <div>
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>name</mat-label>
                                    <input matInput type="text" placeholder="Ex. john"
                                           value="" formControlName="name" required>
                                    <mat-error *ngIf="signUpForm.get('userInfo.name')?.status == 'INVALID' && signUpForm.get('userInfo.name')?.touched">
                                            the name must be 10 charecter minimum                                    
                                    </mat-error>
                                </mat-form-field>  
                            </div>

                            <div>
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>last name</mat-label>
                                    <input matInput type="text" placeholder="Ex. Doe" value="" 
                                           formControlName="lastName" required>
                                    <mat-error *ngIf="signUpForm.get('userInfo.lastName')?.status == 'INVALID' && signUpForm.get('userInfo.lastName')?.touched">
                                            the last name must be 10 charecter minimum                                    
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Enter your email</mat-label>
                                    <input matInput type="email" placeholder="test@example.com" 
                                           formControlName="email" required (keydown)="onsubmit()">
                                    <mat-error *ngIf="signUpForm.get('userInfo.email')?.status == 'INVALID' && signUpForm.get('userInfo.email')?.touched">
                                            please enter valid format for email                                     
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>birthday</mat-label>
                                    <input matInput type="date" placeholder=" " value="" 
                                           formControlName="birthday" required>
                                     <mat-error *ngIf="signUpForm.get('userInfo.birthday')?.status == 'INVALID' && signUpForm.get('userInfo.birthday')?.touched">
                                            the last name must be 10 charecter minimum                                    
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div>
                                <button mat-raised-button  
                                        class="float-right"
                                        color="primary"
                                        matStepperNext
                                        [disabled]= "signUpForm.controls.userInfo.status == 'INVALID'">
                                        Next
                                </button>
                            </div>
                        </div>
                    </div>


                </mat-step>
                <!-- #endStep 1 personal info  -->

                <!-- startStep 2 address info -->
                <mat-step label="user address" color="accent" >
                    <div class="row justify-content-md-center" formGroupName="addressInfo">
                        <div class="col-xs-12 col-md-6">                            
                                <div>
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-label>address</mat-label>
                                        <textarea matInput placeholder=" " value="" formControlName="address" required></textarea>
                                        <mat-error *ngIf="signUpForm.get('addressInfo.address')?.status == 'INVALID' && signUpForm.get('addressInfo.address')?.touched">
                                            address must be conatin 20 - 200 characters                                    
                                        </mat-error>
                                    </mat-form-field>
                                </div>
            
                                <div>
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-label>zip code</mat-label>
                                        <input matInput type="text" 
                                               placeholder=" zipe code must be 10 digit"                                         
                                               formControlName="zipCode" required>
                                               
                                        <mat-error *ngIf="signUpForm.get('addressInfo.zipCode')?.status == 'INVALID' && signUpForm.get('addressInfo.zipCode')?.touched">
                                                zip code must be 10 digit                                    
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div>
                                    
                                    <button class="float-right" mat-raised-button 
                                            color="primary" matStepperNext
                                            [disabled]= "signUpForm.controls.addressInfo.status == 'INVALID'">
                                            Next
                                    </button>
                                </div>                            
                        </div>
                    </div>
                </mat-step>
                <!-- #endStep 2 address info  -->

                <!-- startStep 3 password --> 
                <mat-step label="password" color="accent" >
                    <div class="row justify-content-md-center" >
                        <div class="col-xs-12 col-md-6">
                            <div>
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>password </mat-label>
                                    <input matInput type="password"
                                        placeholder=" password "
                                        value="" formControlName="password">
                                </mat-form-field>
                                <mat-error *ngIf="signUpForm.get('password')?.status == 'INVALID' && signUpForm.get('password')?.touched">
                                    password must be minimum 10 digit and must contain at least 1 uppercase  character
                                </mat-error>
                            </div>

                            <div>
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>re password </mat-label>
                                    <input matInput type="password" placeholder=" please enter password again" value=""
                                        formControlName="rePassword">
                                    <mat-error *ngIf="signUpForm.get('rePassword')?.status == 'INVALID' && signUpForm.get('rePassword')?.touched">
                                            password is not matched
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div>
                                <button type="submit" mat-raised-button 
                                        class="float-right"
                                        color="primary" 
                                        (click)="onsubmit()"
                                        [disabled]= "signUpForm.status == 'INVALID'">
                                        Submit
                                </button>
                            </div>
                        </div>
                    </div>

                </mat-step>
                <!-- #endStep 3 password  -->
           
        </mat-stepper>
    </form>
</div>


