<div class="container">
    <div class="row col-md-12">
        <div class="col-md-6 div_card" *ngFor="let product of products">
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{product.imgPath}}"
                    alt="{{product.name}}">
                <mat-card-content>
                    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Corrupti blanditiis veniam delectus et asperiores ipsum natus minima! Ut neque aliquam,
        tempore, assumenda quasi repudiandae, eveniet ullam dolor animi ratione sit.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>add to card</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>
<img src="https://picsum.photos/200/300?random=1">