

.mat-container {
    height: 400px;
}
.mat-drawer {
    width: 200px;
    padding: 10px;
}

.nav-list {
    text-align: center;
    padding:10px;
    cursor: pointer;
}
h3 {
    text-align:center;
}