

<div>

    <div class="sliderShow container">
        <swiper    
        effect="cube"     
        [pagination]="true"        
        [slidesPerView]="1"        
        [slidesPerGroup]="1"
        [centeredSlides]="false"
        [spaceBetween]="10"        
        [autoplay]="{
          delay: 3500,
          disableOnInteraction: false
        }"
        class="mySwiper"
      >
        <ng-template *ngFor="let img of productImgs;let i = index" swiperSlide>
            <mat-card class="card sliderShow">
                <img mat-card-image class="img-card" src="{{img}}" 
                    [routerLink]="['/product',i]">

            </mat-card>
        </ng-template>
    
      </swiper>
    </div>



    <div class="product container">
        <swiper
        [navigation]="true"
        [slidesPerView]="4"
        [spaceBetween]="30"
        [slidesPerGroup]="1"
        [centeredSlides]="false"

        class="mySwiper"
      >
        <ng-template *ngFor="let product of products;let i = index" swiperSlide>
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title [routerLink]="['/product',product.id]">{{product.name}}</mat-card-title>                   
                </mat-card-header>
                <img mat-card-image class="img-card" src="https://picsum.photos/200/100?random={{i}}" alt="{{product.name}}"
                    [routerLink]="['/product',product.id]">
                <mat-card-content>
    
                </mat-card-content>
                <mat-card-actions>
                    <button class="btn-card" mat-button>
    
                        {{product.price | currency}}
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </ng-template>
    
      </swiper>
    </div>
</div>

